body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #e3f2fd;
}

.header a{
    color: black; 
    text-decoration:none;
}

.header a i{
    color:deeppink; 
    padding: 10px;
}

header h3{
    padding: 10px;
}

nav{
    background-color:beige;
}

nav ul li i{
    color:deeppink; padding: 10px;
}

.precio{
    color:#fe5d37;
}

.descripcion{
    font-size: 13px;
    color: darkgray;
}

footer{
    background-color: #e3f2fd;
    font-size: 15px;
    text-align: center;
}
